apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: static-pvc-parentinfo
  namespace: parentinfo
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-pvc-parentinfo
  namespace: parentinfo
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
