apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc-parentinfo
  namespace: parentinfo
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
  storageClassName: longhorn
